@import "../../styles/variables.less";

.content
{
    display: inline-block;
    background-color: @backgroundColorSecondary;
    border-radius: @borderRadiusBase;
    padding: 8px 16px;
}

.valueText
{
    display: inline-block;
    min-width: 30px;
    text-align: center;
}

.btn
{
    background-color: @white;
    padding: 8px 16px;
    margin: 0 8px;
    min-width: 60px;

    cursor: pointer;
    font-weight: @fontWeightBold;
    border: 1px solid @borderColor;
    letter-spacing: .2px;
    box-shadow: @shadowInformation;
    text-align: center;
    transition: all .2s;

    &:hover
    {
        background-color: lighten(@primaryColor, 15%);
        border-color: lighten(@primaryColor, 15%);
    }
}
