@import "../../styles/variables.less";

.container
{
    background-color: @backgroundColorSecondary;
    border-radius: @borderRadiusMedium;
    box-shadow: @shadowCover;
    padding: 16px 8px;
}

.value
{
    display: inline-block;
    text-align: center;
    min-width: 32px;
}

.btn
{
    .button();

    padding: 8px 16px;
    margin: 0 8px;
    min-width: 60px;

    background-color: @white;
    border-color: @borderColor;

    &:hover
    {
        background-color: lighten(@primaryColor, 12%);
        border-color: lighten(@primaryColor, 12%);

        &:active
        {
            background-color: lighten(@primaryColor, 24%);
            border-color: lighten(@primaryColor, 24%);
        }
    }
}
