@import "~normalize.css";
@import "./variables.less";

:global
{
    #root, body, html
    {
        .fullHeight();
    }

    body
    {
        overflow: hidden;
        font-family: @fontFamily;
        font-size: @fontSizeBase;
        font-weight: @fontWeightRegular;
        line-height: @lineHeightBase;
    }

    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section
    {
        display: block;
    }

    a, a:active, a:hover
    {
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6
    {
        margin: 0;
    }

    h1
    {
        font-size: 96px;
        line-height: 112px;
        font-weight: @fontWeightLight;
        letter-spacing: -0.2496px;
    }

    h2
    {
        font-size: 60px;
        line-height: 72px;
        font-weight: @fontWeightLight;
        letter-spacing: -0.1328px;
    }

    h3
    {
        font-size: 48px;
        line-height: 56px;
        font-weight: @fontWeightRegular;
        letter-spacing: 0;
    }

    h4
    {
        font-size: 34px;
        line-height: 40px;
        font-weight: @fontWeightRegular;
        letter-spacing: .1168px;
    }

    h5
    {
        font-size: 24px;
        line-height: 28px;
        font-weight: @fontWeightRegular;
        letter-spacing: 0;
    }

    h6
    {
        font-size: 20px;
        line-height: 24px;
        font-weight: @fontWeightMedium;
        letter-spacing: .12px;
    }
}
