@import "../../styles/variables.less";
@btnHeight: 50px;

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 330px;
    background-color: @white;
    border-radius: @borderRadiusLarge;
    box-shadow: @shadowModal;
}

.title
{
    color: @primaryColor;
    font-weight: @fontWeightMedium;
    margin-top: 12px;
}

.divider
{
    .hDivider();
    .fullWidth();
    margin-top: 12px;
}

.main
{
    padding: 30px 12px 10px;
}

.timer
{
    padding-bottom: 30px;
}

.footer
{
    .fullWidth();
    display: flex;
}

.btn
{
    flex: 1 1 50%;
    height: @btnHeight;
    line-height: @btnHeight;

    cursor: pointer;
    font-weight: @fontWeightMedium;
    border: 1px solid transparent;
    letter-spacing: .2px;
    box-shadow: @shadowInformation;
    text-align: center;
    transition: all .2s;

    &:hover
    {
        background-color: lighten(@primaryColor, 15%);
    }
}

.btnCancel
{
    color: @textColor;
    background-color: @white;
    border-top-color: @borderColor;
    border-bottom-left-radius: @borderRadiusBase;

    &:hover
    {
        background-color: lighten(@primaryColor, 55%);
    }
}

.btnOK
{
    color: @white;
    background-color: @primaryColor;
    border-top-color: @primaryColor;
    border-bottom-right-radius: @borderRadiusBase;

    &:hover
    {
        background-color: lighten(@primaryColor, 15%);
        border-top-color: lighten(@primaryColor, 15%);
    }
}
