@import "../../styles/variables.less";
@btnHeight: 50px;

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 330px;
    background-color: @white;
    border-radius: @borderRadiusLarge;
    box-shadow: @shadowModal;
}

.title
{
    color: @primaryColor;
    font-weight: @fontWeightMedium;
    margin-top: 12px;
}

.divider
{
    .hDivider();
    .fullWidth();
    margin-top: 12px;
}

.main
{
    padding: 30px 12px 10px;
}

.timer
{
    padding-bottom: 30px;
}

.footer
{
    .fullWidth();
    display: flex;
}

.btn
{
    .button();

    flex: 1 1 50%;
    height: @btnHeight;
    line-height: @btnHeight;
}

.btnOK
{
    color: @white;
    background-color: @primaryColor;
    border-top-color: @primaryColor;
    border-bottom-right-radius: @borderRadiusMedium;

    &:hover
    {
        background-color: lighten(@primaryColor, 12%);
        border-top-color: lighten(@primaryColor, 12%);

        &:active
        {
            background-color: lighten(@primaryColor, 24%);
            border-top-color: lighten(@primaryColor, 24%);
        }
    }
}

.btnCancel
{
    color: @textColor;
    background-color: @white;
    border-top-color: @borderColor;
    border-bottom-left-radius: @borderRadiusMedium;

    &:hover
    {
        color: @textColorSecondary;

        &:active
        {
            color: lighten(@textColorSecondary, 12%);
        }
    }
}
